Package: wine-fake
Version: 1.0.0-1big1
Provides: wine
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:16
Description: Wine fake for playonlinux dependencies


